@model BudgetViewModel
@{
    ViewData["Title"] = "MonthlyBudget";
}
<table class="col-12 text-center table table-bordered">
    <thead>
        <tr>
            <td><button>Create New Budget</button></td><td><button>Load Existing Budget</button></td>
        </tr>
    </thead>
</table>
<table class="col-12 table-striped table-bordered table" >
    <thead class="thead-light col-12">
        <tr>
            <td class="col-12 text-center font-weight-bold" colspan="@Model.Rows.Count">Monthly Budget</td>
        </tr>
        @if (Model.Rows != null && Model.Rows.Count() > 0)
        {
            @for (int j = 0; j < Model.Rows.Count(); j++)
            {
                BudgetRow row = Model.Rows[j];

                <tr><td>@row.RowName</td></tr>
                for (int i = 0; i < row.Columns.Count(); i++)
                {
                    BudgetColumn column = row.Columns[i];
                <tr>
                    <td>@column.ColumnName</td>
                    <td>@column.Amount</td>
                </tr>
                }
            }
        }
    </thead> 
</table>

