
@{
    ViewData["Title"] = "MonthlyBudget";
}

<table class="col-12 table-striped table-bordered table" >
    <thead class="thead-light col-12">
        <tr>
            <td class="col-12 text-center font-weight-bold">Monthly Budget</td>
        </tr>
    </thead> 
</table>

