@model BudgetModel
@{
    ViewData["Title"] = "MonthlyBudget";
}

<table class="col-12 table-striped table-bordered table" >
    <thead class="thead-light col-12">
        <tr>
            <td class="col-12 text-center font-weight-bold">Monthly Budget</td>
        </tr>
        @if (Model.Colmns != null && Model.Colmns.Count() > 0){
            int i; 
        @do {
        <tr>
            @for (i = 0; i < Model.Colmns.Count(); i++)
            {

            }
        </tr>

        } while (i <); 
        }
    </thead> 
</table>

