
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div>
    <button class="col-2 btn btn-block btn-dark" asp-controller="Home" asp-action="BillsPaid">Check for bills paid?</button>
    <table></table>
</div>


