<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <title>Blank Finance</title>
</head>
<body>
    <div class="navbar navbar-light fa-navicon bg-info" role="navigation">
        <div class="row col-12">
            <a class="col-4 btn btn-block" asp-controller="Home" asp-action="Index">Blank Finance</a>
            <a class="col-4 btn btn-block" asp-controller="Home" asp-action="Index">Budget</a>
            <a class="col-4 btn btn-block" asp-controller="Home" asp-action="Index">Statistics</a>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
