@using System; 
@model ChooseFileViewModel 

@{
    Layout = null;
}

<form method="post" enctype="multipart/form-data" asp-controller="Import" asp-action="ImportCSVFile">
    <div class="form-group">
        <div class="col-12">
            <input asp-for="File" type="file"/>
        </div>
    </div>
    <div class="col-12">
        <input type="submit" value="Upload" />
    </div>
</form>